<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiecode.drug.mapper.DrugInfoMapper">

    <update id="updateAddStock">
        UPDATE drug_info SET stock = stock + ${count} WHERE name= #{dName}
    </update>
    <update id="updateReduceStock">
        UPDATE drug_info SET stock = stock - ${count} WHERE name= #{dName}
    </update>
    <select id="selectStock" resultType="java.lang.Integer">
        select stock FROM drug_info WHERE name = #{dName}
    </select>
    <select id="selectDrugInfoByDname" resultType="com.xiecode.drug.pojo.DrugInfo">
        select * from drug_info WHERE name = #{dName}
    </select>
    <select id="drugInfoListBySName" resultType="com.xiecode.drug.pojo.DrugInfo">
        select * from drug_info WHERE supplier = #{sName}
    </select>
</mapper>
